#event_event_date_1i{
  padding-bottom:2px;
  padding-top:2px;
  padding-left:30px;
  padding-right:30px;
  margin-left:20px;
  font-size:17px;
}

#event_event_date_2i{
  padding-bottom:2px;
  padding-top:2px;
  padding-left:30px;
  padding-right:30px;
  margin-left:20px;
  font-size:17px;
}

#event_event_date_3i{
  padding-bottom:2px;
  padding-top:2px;
  padding-left:30px;
  padding-right:30px;
  margin-left:20px;
  font-size:17px;
}

table {
width: 100%;
table-layout: fixed;
word-break: break-all;
word-wrap: break-all;
}

.event-content {
  word-break: break-all;
  word-wrap: break-all;
}
